<h4>"<span class="title">texture</span>" <i>by <span class="creator">Tomi Knuutila</span></i></h4>
<p class="info">
Licensed under <a class="license" href="https://creativecommons.org/licenses/by/2.0">CC-BY 2.0</a>
</p>
<p>
<a class="foreign_landing_url" href="https://www.flickr.com/photos/yourbartender/1354541707">Original source</a> via <a class="provider" href="https://flickr.com">Flickr</a>
</p>

